* {
  margin: 0 auto;
}
ul {
  display: flex;
  gap: 10px;
  background-color: darksalmon;
}

li {
  list-style: none;
  color: brown;
  padding: 15px;
  font-weight: 500;
}
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: darksalmon;
}
a {
  text-decoration: none;
  color: brown;
  padding: 20px 10px;
}
.main {
  display: flex;
  background-color: slategrey;
  gap: 30px;
}
.form {
  margin: 30px;
}
a:hover {
  text-decoration: underline;
}
li:hover {
  text-decoration: underline;
}
